files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/post_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "python stuff"
      pip freeze
      if [ -f /tmp/leader_only ]
      then
        rm /tmp/leader_only
        docker exec `docker ps --no-trunc -q | grep $(docker ps | grep appsvr | awk -F ' ' '{print $1}')` pip install -r /src/app/requirements.txt
        docker exec `docker ps --no-trunc -q | grep $(docker ps | grep appsvr | awk -F ' ' '{print $1}')` python /src/app/manage.py collectstatic --noinput
        docker exec `docker ps --no-trunc -q | grep $(docker ps | grep appsvr | awk -F ' ' '{print $1}')` python /src/app/manage.py syncdb --noinput
        docker exec `docker ps --no-trunc -q | grep $(docker ps | grep appsvr | awk -F ' ' '{print $1}')` python /src/app/manage.py migrate --noinput
      fi

container_commands:
  00_migrate:
    command: "touch /tmp/leader_only"
    leader_only: true
