{% extends "_base.html" %}

{% block content %}
<h1 style="color: #2E7BB9">
    Hello World! From The Hackerati
</h1>
<p>
    Welcome to Django App Template with Docker.
</p>
<p>
    This is a starting point for a Docker-based Django app, configured for
    continuous integration with Travis and continuous deployment to AWS.
    Just clone and rename the <a href="https://github.com/thehackerati/django-app-template">repo</a>
    and start coding!
</p>
<p>
    Learn more about us at <a href="http://www.thehackerati.com">thehackerati.com</a>.
</p>
<p>
    Happy hacking :]
</p>
{% endblock content %}
